*{
    margin :0;
    padding:0;
    list-style: none;
    font-family: 'Independence_hall' ;
}

a:link, a:visited {
    color : #222222;
    text-decoration: none;
}
/*폰트*/
@font-face {
    font-family: 'Independence_hall';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Independence_hall.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* pc버전 */

#wrap{
    width : 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.info_area {
    background-color: rgb(234, 248, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.info_area h1, .info_area h3, .info_area p, .project_area h1 {
    text-align: center;
    padding : 20px;
}

.info_area h1 {
    
    font-size: 40px;
    font-weight: 800;
}

.skill_image {
    _background: aquamarine;
    width : 80%;
    margin: 1% auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}
.skill_image img {
    max-width: 55px;
    margin-left : 2%;
    
}
.project_area {
    background-color: azure;
    width: 100%;
}

.project_area>h2 {
    text-align: center;
    padding : 1%;
}

.project_area li {
    _background: darkseagreen;
    width: 80%;
    margin : 0 auto;
    display: flex;
    justify-content: center;
}

.project_area li>h3 {
    text-align: center;
    margin-left : 10%;
}
.project_area .img {
    padding : 3%;
}
.project_area .img img {
    max-width: 350px;
}

.project_content {
    padding-top: 3%;
    padding-bottom : 3%;
    width : 40%;
}

.project_content h3, .project_content p {
    padding-top: 2%;
}

.btn_go {
    width : 100px;
    height : 30px;
    margin-left : 3%;
    margin-top : 6%;
    background: linear-gradient(135deg, #6e8efb, #77e3a8);
    border-radius: 15px;
    text-align: center;
    line-height: 20px;
    color : #fff;
}

.slide_list {
    flex-direction: column;
}

.project_area .slide_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height : 500px;
    width : 700px;
    margin-top:5%;
    margin-left : 30%;
}

.slider {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
}
.item {
    display: flex;
    flex-direction: column;
    position:relative;
    width : 300px;
    text-align: center;
}

.item a h4, .item a p{
    width: 280px;
    text-align: center;
    margin : 0 auto;
    padding : 2%;
}

.project_area .slide_wrap img {
    max-width: 350px;
}

#footer{
    background :rgb(207, 207, 207);
    height:150px;
}

#footer p {
    text-align: center;    
}

#footer>p {
    margin-top : 50px;
}

@media ( max-width: 1023px ) { /* 태블릿 버전 */
    body { color: red; }
  }

@media ( max-width: 768px ) { /* 모바일 버전 */
    body { color: red; }
  }

